# IDE config
.DS_Store
.idea
.vscode
*.swp
*.sublime-*
gh-md-toc

# Makefile
*.stamp

# Virtualenv
.venv
__pycache__
/venv/*

# Envrc
.envrc.chamber
.envrc.local*
exp_*.pem
/.direnv
/.nix-hash

# fresh-brew
# The first two files are meant to be updated in the trussworks/fresh-brew repo
# The lock files can be helpful to troubleshoot homebrew issues. They will
# represent the last known good state.
Brewfile
pour.sh
Brewfile.local.lock.json
Brewfile.lock.json
