[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.22.0"
locust = ">=1"
prance = {version = "==0.21.8.0", extras = ["cli", "osv"]}
Faker = "*"
zipcodes = "*"
internal-client = {editable = true, path = "./openapi_client/internal"}
ghc-client = {editable = true, path = "./openapi_client/ghc"}
prime-client = {editable = true, path = "./openapi_client/prime"}

[dev-packages]
# pipenv doesn't resolve pre-release versions, so manually pin
# this version should match what is in .pre-commit-config.yaml as well
black = "==22.3.0"
flake8 = "*"
pytest = "*"
pytest-mock = "*"
cryptography = "*"
responses = "*"
pre-commit = "*"
python-lsp-server = "*"
pytest-cov = "*"
pyright = "*"

[requires]
python_full_version = "3.9.6"
