"""
    move.mil API

    The API for move.mil  # noqa: E501

    The version of the OpenAPI document: 0.0.1
    Contact: dp3@truss.works
    Generated by: https://openapi-generator.tech
"""


import re  # noqa: F401
import sys  # noqa: F401

from ghc_client.api_client import ApiClient, Endpoint as _Endpoint
from ghc_client.model_utils import (  # noqa: F401
    check_allowed_values,
    check_validations,
    date,
    datetime,
    file_type,
    none_type,
    validate_and_convert_types
)
from ghc_client.model.error import Error
from ghc_client.model.payment_service_item import PaymentServiceItem
from ghc_client.model.validation_error import ValidationError


class PaymentServiceItemApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client
        self.update_payment_service_item_status_endpoint = _Endpoint(
            settings={
                'response_type': (PaymentServiceItem,),
                'auth': [],
                'endpoint_path': '/move-task-orders/{moveTaskOrderID}/payment-service-items/{paymentServiceItemID}/status',
                'operation_id': 'update_payment_service_item_status',
                'http_method': 'PATCH',
                'servers': None,
            },
            params_map={
                'all': [
                    'move_task_order_id',
                    'payment_service_item_id',
                    'if_match',
                    'body',
                ],
                'required': [
                    'move_task_order_id',
                    'payment_service_item_id',
                    'if_match',
                    'body',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'move_task_order_id':
                        (str,),
                    'payment_service_item_id':
                        (str,),
                    'if_match':
                        (str,),
                    'body':
                        (PaymentServiceItem,),
                },
                'attribute_map': {
                    'move_task_order_id': 'moveTaskOrderID',
                    'payment_service_item_id': 'paymentServiceItemID',
                    'if_match': 'If-Match',
                },
                'location_map': {
                    'move_task_order_id': 'path',
                    'payment_service_item_id': 'path',
                    'if_match': 'header',
                    'body': 'body',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'application/json'
                ],
                'content_type': [
                    'application/json'
                ]
            },
            api_client=api_client
        )

    def update_payment_service_item_status(
        self,
        move_task_order_id,
        payment_service_item_id,
        if_match,
        body,
        **kwargs
    ):
        """Change the status of a payment service item for a move by ID  # noqa: E501

        Changes the status of a line item for a move by ID  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.update_payment_service_item_status(move_task_order_id, payment_service_item_id, if_match, body, async_req=True)
        >>> result = thread.get()

        Args:
            move_task_order_id (str): ID of move to use
            payment_service_item_id (str): ID of payment service item to use
            if_match (str):
            body (PaymentServiceItem):

        Keyword Args:
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            async_req (bool): execute request asynchronously

        Returns:
            PaymentServiceItem
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_spec_property_naming'] = kwargs.get(
            '_spec_property_naming', False
        )
        kwargs['_content_type'] = kwargs.get(
            '_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['move_task_order_id'] = \
            move_task_order_id
        kwargs['payment_service_item_id'] = \
            payment_service_item_id
        kwargs['if_match'] = \
            if_match
        kwargs['body'] = \
            body
        return self.update_payment_service_item_status_endpoint.call_with_http_info(**kwargs)

